/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Josefin+Sans&family=Lexend+Deca:wght@100;200;300&family=Livvic:wght@100&family=Montserrat:wght@300&family=Orelega+One&family=Poppins:wght@500&family=Roboto:wght@500&family=Ubuntu:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* search area */
.input-group {
    padding-left: 150px;
    padding-right: 220px;
}
.search-btn {
    background-color: black;
    padding-left: 18px;
    padding-right: 18px;
}

/* display phone cards */
.card {
    border: 2px solid rgba(235, 232, 232, 0.336);
    border-radius: 15px;
}

/* details phones card */

.details-card {
    max-width: 100%;
    width: 65%;
    max-height: 100%;
    height:100%;
}
.details-image {
    margin-left: 18px;
    margin-top: 65px; 
    max-width: 100%;
    height: 75%;
}

/* display error handle message*/
#not-found-error {
    display: none;
}
#no-phone-found {
    display: none;
}
#see-more-btn {
    display: none;
}
/* spinner */
#spinner {
    display: none;
}
/* media queries for mobile device */
@media  (max-width: 575.98px) { 
   .input-group{
     padding-left: 1px;
     padding-right: 12px;
     margin-right: 3px;
   }
   .details-card {
     width: 100%;
     height:100%;
   }
   .details-image {
    margin-left: 45px;
    margin-top: 30px; 
    width: 60%;
    height: 75%;
   }
}